$accent: #e60b19;

@font-face{
    font-family:'Garamond';
    src: url(ITCGaramondStd-BkNarrow.otf);
}
html{
    background-color: black;
    color: white;
    cursor: cell;
}
::selection{
    background: $accent;
    color: white;
}
::-moz-selection{
    background:$accent;
    color: white;
}
body{
    margin-left: 2%;
}
p, span, li{
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
}
h1,h2, h3{
    font-family: 'Garamond';
    font-weight: lighter;
a {
    color: white;
}}
h2{
    font-size: 4em;
}
header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: sticky;
}
.featured-picture{
    top: 0;
    right: 0;
    position: fixed;
 img{
    width: 390px;
}}

.content{
   position: sticky;
    margin-left: 19%;
    max-width: 60%;
    margin-top: -3em;
}
.hero{
    font-family: 'Garamond';
    font-size: 5.5em;
  
}
.error{
    font-family: 'Garamond';
    font-size: 10em;
}
section {
    margin-top: 20%;
p{
    max-width: 60%;
    text-align: left;
}
li{
    list-style: circle;
    margin-bottom: 2%;
}}

footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    position: sticky;
span{
text-align: right;
margin-right: 2%;
font-size: 0.8em;
}}

#menu {
    display: none;
   background-color: black;
  position: fixed;
  top: 0;
  z-index: 2; 
  width: 100%;
  height: 75%;
font-size: 4vw;
padding: 3vw;
 li{
     list-style: none;
 }
 a {
    color: white;
&:hover{
    color: $accent;
}} }

.menu-mobile{
    display: none;
}
a{
    color: cyan;
    text-decoration: none;
    &:hover{
        color: $accent;
    }
}
.menu-button {
     background-color: rgba(0, 0, 0, 0.0);
border: none;}

@media only screen and (max-width: 600px){
    body{
        margin-right: 2%;
    }
    .featured-picture{
        position: absolute;
        z-index: -1;
    }
    .menu-mobile{
        display: block;
        justify-content: right;
        text-align: right;
        margin-top: 12%;
        margin-right: 2%;
    }
    .hero{
        font-size: 10vw;
        margin-left: 12%;
        max-width: 95%;
        margin-top: 47%;
        padding: 0;
    }
  .content{
    margin-left: 2%;
    max-width: 100%;
  }
    section p, li, span, h3{
       max-width: 80%;  
       background-color: black;
       padding: 0.5em;
    
    }
    .toggle-footer{
        display: none;
    }
    #menu {
        display: none;
       background-color: black;
      position: fixed;
      top: 20%;
      z-index: 2; 
      width: 100%;
      height: 75%;
    font-family: 'Helvetica';
    font-size: 5vw;
    padding: 3vw;
    ul{
        margin-top: 3em;
    }
     li{
         list-style: none;
         margin-bottom: 2em;
     }
    }
footer{
    margin-top: 25%;
    margin-bottom: 2%;

}
}